@import "pages/variables.scss";

.header {
	position: relative;
	.content {
		padding: 2em 0em 4em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	.title {
		img {
			height:32px;
		}
	}
	.nav a {
		margin-left: 1em;
		@include nav-link	
	}
}
