@import "pages/variables.scss";

.header {
	position: relative;
	margin-bottom: 50px;
	.content {
		padding: 2em 0em 0em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	.title {
		img {
			height: 32px;
			display: block;
		}
	}
	.nav a {
		margin-left: 2em;
		@include nav-link;
		@include for-mobile {
			font-size: 16px;
		}
	}
	.banner {
		margin: 0.5em auto;
		a {
			text-align: center;
			display: block;
			padding: 0.5em;
			margin: 0 5em;
			text-decoration: none;
			color: #555;
			display: block;
			background-color: $banner-color;
			@include for-mobile {
				margin: 0;
			}
		}
		@include small-font;
	}
}
