@import '../../App/variables.scss';

#program {
	.program-blocks {
		display: flex;
		justify-content: space-between;
		margin-top: 75px;
		section {
			width: 45%;
		}
	}
	.menu .title {
		padding-right: 0.5em;
	}
	.line {
		margin: 0 auto;
		height: 3px;
		margin-bottom: 15px;
		&.measuring-knowledge {
			background: $mkColor;
		}
		&.universal-data {
			background: $udColor;
		}
		&.knowledge-ecosystems {
			background: $keColor;
		}
		&.community-publishing {
			background: $cdColor;
		}
	}
}