.partners {
	display: flex;
	flex-wrap: wrap;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	.partner {
		display: flex;
		justify-content: center;
		img {
			height: 80px;
			filter: grayscale(1);
		}
	}
}
