@import "pages/variables.scss";

.team {
	position: relative;
	.switcher {
		position: absolute;
		right: -8px;
		top: -35px;
		span {
			@include nav-link;
			padding: 3px;
			margin: 0px 5px;
			user-select: none;
			&:not(:first-of-type)::before {
				content: "·";
				position: relative;
				right: 8px;
			}
		}
	}
	.people {
		padding-top: 25px;
		display: grid;
		grid-gap: 50px;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		font-size: 18px;
		.person {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				display: block;
				width: 100%;
				border-radius: 5px;
				margin-bottom: 10px;
			}
			.name {
				font-family: upgrade, sans-serif;
				font-weight: 300;
			}
			.title {
				font-size: 16px;
				line-height: 18px;
			}
			.external {
				font-size: 16px;
				line-height: 18px;
				opacity: 0.5;
			}
		}
	}
}
