@import '../../App/variables.scss';

.team {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0px;
	.person {
		width: 210px;
		@include for-mobile {
			width: 175px;
		}
		margin-bottom: 50px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			display: block;
			width: 100px;
			border-radius: 100px;
			margin-bottom: 10px;
		}
		.name {
			font-weight: 600;
		}
		.title {
			font-size: 14px;
			line-height: 16px;
			&.external {
				
				opacity: 0.5;
			}
		}
	}
}
