{ 
	parser: "babel-eslint",
	extends: ["airbnb", "prettier"],
	"plugins": ["react", "import", "prettier", "react-hooks"],
	env: {
		"browser": true,
		"node": true,
		"mocha": true
	},
	"settings": {
      "import/resolver": {
        "node": {
            "paths": ["app"]
        }
      }
    },
	"rules": {
		"arrow-body-style": 0,
		"comma-dangle": 0,
		"func-names": 0,
		"import/no-extraneous-dependencies": [2, { "devDependencies": true }],
		"no-tabs": 0,
		"react/forbid-prop-types": 0,
		"react/jsx-filename-extension": [2, { "extensions": [".js"] }],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-fragments": 0,
		"react/jsx-one-expression-per-line": 0,
		"react/jsx-wrap-multilines": 0,
		"react/no-unescaped-entities": 0,
		"space-before-function-paren": 0,
	},
}
