$navBackground: white;
$navColor: black;
$background: #fff;

$keColor: #58C3FF;
$cdColor: #20BC8D;
$udColor: #DDBC10;
$mkColor: #DB6510;

@mixin for-mobile {
  @media (max-width: 768px) { @content; }
}
