@import '../../App/variables.scss';

$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$accent: #dc7c22;

#advisory {
	padding-bottom: 50px;
	a {
		color: inherit;
		font-size: 18px;
	}
	hr {
		opacity: 0.25;
	}
	form {
		label {
			display: block;
			margin-bottom: 1.5em;
		}
		.hp {
			display: none;
		}
		input {
			margin-top: 5px;
		}
		input:not([type='checkbox']) {
			display: block;
			height: 46px;
			padding: 0 16px;
			border: 2px solid #ddd;
			border-radius: 4px;
			outline: 0;
			width: 75%;

			&:focus {
				border-color: $accent;
			}
		}
		input[type='checkbox'] {
			display: block;
			position: relative;
			width: 1.5em;
			height: 1.5em;
			color: $black;
			border: 1px solid $gray;
			border-radius: 4px;
			appearance: none;
			outline: 0;
			cursor: pointer;
			transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
			&::before {
				position: absolute;
				content: '';
				display: block;
				top: 2px;
				left: 7px;
				width: 8px;
				height: 14px;
				border-style: solid;
				border-color: $white;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				opacity: 0;
			}
			&:checked {
				color: $white;
				border-color: $accent;
				background: $accent;
				&::before {
					opacity: 1;
				}
				~ label::before {
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
				}
			}
			&:focus {
				box-shadow: 0px 0px 0px 2px $accent;
			}
		}
		button {
			border-width: 0px;
			border-radius: 3px;
			font-weight: 500;
			width: 200px;
			transition: background 0.1s ease-out 0s;
			background: rgba(9, 30, 66, 0.14) none repeat scroll 0% 0%;
			cursor: pointer;
			height: 2.28571em;
			line-height: 2.28571em;
			padding: 0px 10px;
			&:hover {
				background: rgba(9, 30, 66, 0.20) none repeat scroll 0% 0%;
				text-decoration: inherit;
				transition-duration: 0s, 0.15s;
			}
			&:active {
				background: rgba(9, 30, 66, 0.25) none repeat scroll 0% 0%;
				transition-duration: 0s, 0s;
			}
		}
	}
}
