.button {
	padding: 1em 2em;
	border: 1px solid #aaa;
	color: inherit;
	text-decoration: none;
	border-radius: 3px;
	font-weight: 600;

	&:hover {
		background: #eaeaea;
	}
	&:active {
		background: #e0e0e0;
	}
}