.menu {
	list-style: none;
	padding-left: 0px;
	li {
		border-radius: 3px;
		&:hover {
			background-color: rgba(167, 182, 194, 0.3);
			cursor: pointer;
		}
		&:active {
			background-color: rgba(115, 134, 148, 0.3);
		}
		a {
			display: block;
			padding: 10px 5px;
			color: inherit;
			text-decoration: none;
		}
		.title {
			font-family: upgrade, sans-serif;
			font-weight: 400;
		}
	}
}
