@import "pages/variables.scss";
.footer {
	padding-top: 4em;
	margin: 4em 0em;
	border-top: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	.logo {
		display: block;
		position: relative;
		height: 56px;
	}
	.details {
		p {
			margin: 0;
			max-width: 350px;
			font-size: 14px;
			&:first-of-type {
				margin: 2em 0px 1em;
			}
		}
	}
	.social {
		margin-top: 1em;
		a {
			margin-right: 1em;
			img {
				height: 24px;
				opacity: 0.7;
			}
		}
	}
	.links {
		display: flex;
		ul {
			list-style: none;
			margin: 0em 0em 0em 5em;
			padding: 0;
		}
		li {
			margin-bottom: 2em;
		}
		a {
			@include nav-link;
		}
	}
}
