@import "pages/variables.scss";

.getInvolved {
	p {
		font-size: 22px;
	}
	.buttonGroup {
		display: flex;
		margin: 1em 0em 0em;
		& > * {
			margin-right: 1em;
		}
	}
	.flex {
		display: flex;
		h2 {
			font-size: 36px;
			line-height: 36px;
		}
		@include for-mobile {
			display: block;
		}
	}
	.leftPad {
		margin-left: 25px;
		background-image: url("/images/involved2.jpg");
		background-size: cover;
		width: 50%;
		flex: 1 0 auto;
		background-position: center 30%;
		@include for-mobile {
			margin-left: 0px;
			width: 100%;
			height: 250px;
		}
	}
	.rightPad {
		margin-right: 25px;
		background-image: url("/images/involved3.jpg");
		background-size: cover;
		width: 50%;
		flex: 1 0 auto;
		background-position: center 70%;
		@include for-mobile {
			margin-left: 0px;
			width: 100%;
			height: 250px;
		}
	}
}
