@import "pages/variables.scss";

.getInvolved {
	p {
		font-size: 22px;
	}
	.buttonGroup {
		display: flex;
		flex-wrap: wrap;
		& > * {
			margin: 0em 1em 1em 0em;
		}
	}
	section {
		display: flex;
		h2 {
			font-size: 36px;
			line-height: 36px;
		}
		&:first-of-type {
			margin-top: 75px;
		}
		@include for-mobile {
			flex-direction: column-reverse;
		}
	}
	.leftPad {
		margin-left: 25px;
		background-image: url("/images/involved2.jpg");
		background-size: cover;
		width: 50%;
		flex: 1 0 auto;
		background-position: center 30%;
		border-radius: 3px;
		@include for-mobile {
			margin-left: 0px;
			margin-bottom: 75px;
			width: 100%;
			height: 250px;
		}
	}
	.rightPad {
		margin-left: 25px;
		background-image: url("/images/involved3.jpg");
		background-size: cover;
		width: 50%;
		flex: 1 0 auto;
		background-position: center 70%;
		border-radius: 2px;
		@include for-mobile {
			margin-left: 0px;
			margin-bottom: 75px;
			width: 100%;
			height: 250px;
		}
	}
}
