@import "pages/variables.scss";

.membership {
	.tiers {
		margin-top: 75px;
		display: grid;
		gap: 15px;
		grid-template-columns: 1fr 1.2fr 1fr;
		@include for-mobile {
			grid-template-columns: 1fr;
			gap: 100px;
		}
		.tier {
			&:nth-child(odd) {
				padding-top: 60px;
			}
			&:nth-child(2) {
				.card {
					box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2),
						0 2px 6px rgba(16, 22, 26, 0.2);
				}
			}
			@include for-mobile {
				padding-top: 0px !important;
				.card {
					box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 1px 1px rgba(16, 22, 26, 0.2),
						0 2px 6px rgba(16, 22, 26, 0.2);
				}
			}
			&:nth-child(1) {
				ul li:nth-child(n + 5) {
					opacity: 0.35;
				}
			}
			&:nth-child(2) {
				ul li:nth-child(n + 7) {
					opacity: 0.35;
				}
			}
		}
		.card {
			border: 1px solid #ccc;
			padding: 20px;
			border-radius: 3px;
			display: flex;
			justify-content: center;
			.cardContent {
				width: 100%;
				max-width: 268px;
				@include for-mobile {
					max-width: none;
				}
			}
		}
		.name {
			font-size: 24px;
			font-weight: 400;
			font-family: upgrade, sans-serif;
		}
		.description {
			font-size: 16px;
			min-height: 75px;
		}
		.slider {
			height: 70px;
			margin: 10px 0px -20px;
			label {
				font-size: 16px;
				display: flex;
				color: #777;
			}
			.info {
				padding: 0px 5px;
				position: relative;
				top: 2px;
				img {
					opacity: 0.4;
					width: 15px;
				}
				div {
					display: none;
					position: absolute;
					z-index: 2;
					background: white;
					padding: 15px;
					width: 380px;
					border: 1px solid #ccc;
					box-shadow: 0px 1px 4px #888;
					border-radius: 2px;
					bottom: calc(100% + 10px);
					left: -185px;
				}
				&:hover {
					div {
						display: block;
					}
				}
			}
			input {
				display: block;
				width: 100%;

			}
			.ticks {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				font-size: 14px;
				text-align: center;
				width: calc(100% + 60px);
				position: relative;
				left: -30px;
				color: #777;
			}
		}
		.pricePrefix {
			height: 35px;
			font-size: 16px;
			opacity: 0.7;
			display: flex;
			align-items: flex-end;
			position: relative;
			top: 5px;
		}
		.price {
			height: 44px;
			font-size: 32px;
			font-weight: 400;
			font-family: upgrade, sans-serif;
			span {
				font-size: 18px;
				font-family: upgrade-lights, sans-serif;
			}
		}
		.button {
			margin-top: 20px;
			width: calc(100% - 60px);
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
			background: #e0e0e0;
			cursor: pointer;
			user-select: none;
			&:hover {
				background: #d9d9d9;
			}
			&:active {
				background: #d5d5d5;
			}
		}
		ul {
			font-size: 16px;
			padding-left: 20px;
			li {
				margin-bottom: 10px;
			}
		}
		.seeAllLink {
			text-align: center;
			margin-top: 10px;
		}
	}
	.finePrint {
		margin-top: 75px;
		font-size: 16px;
	}
	.banner {
		margin: 75px 0px 100px;
		position: relative;
		padding: 75px 0px;
		font-size: 50px;
		color: white;
		line-height: 65px;
		font-weight: 400;
		&:before {
			content: "";
			background: url(/images/membershipBanner.jpg) no-repeat center center;
			background-size: cover;
			position: absolute;
			display: block;
			// background: red;
			height: 100%;
			bottom: 0;
			left: calc(-50vw + 50%);
			width: 100vw;
			z-index: -1;
		}
	}
	// .memberUl {

	// }

	.memberHeader {
		font-weight: 18;
		font-weight: 400;
		font-family: upgrade, sans-serif;
	}
}
