@import "pages/variables.scss";

.work {
	p {
		font-size: 22px;
	}
}
.projects {
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
	@include for-mobile {
		display: block;
	}
}
.project {
	border-left: 1px solid #ccc;
	border-radius: 2px;
	padding: 10px 1em;
	display: block;
	color: inherit;
	text-decoration: none;
	@include for-mobile {
		margin-top: 50px;
	}
	&:hover {
		border-left: 1px solid #888;
		background: #f0f0f0;
	}
	.title {
		font-family: upgrade, sans-serif;
		font-weight: 400;
		font-size: 22px;
	}
	.description {
		margin-top: 1em;
		font-size: 20px;
	}
}
