@import '../../App/variables.scss';

$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$accent: #dc7c22;

#kickoff {
	font-size: 18px;
	img {
		margin-top: 50px;
		width: 100%;
	}
	padding-bottom: 200px;
	h2 {
		margin-top: 50px;
	}
	a {
		color: inherit;
		font-size: 18px;
	}
	hr {
		opacity: 0.25;
	}
}
